.footer{
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(40, 40, 40);
    color: white;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    position: fixed;
}
.left-footer{
    width : 50%;
}
.left-footer>h1{
    margin: 0px;
    margin-left: 20px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}
.right-footer{
    width : 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.connect{
    width: 50%;
}
.social-logos-footer{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    cursor: pointer;
}