.landing-page{
    width: 100%;
}

.home-image{
    background-image: url('../../public/landing-home.jpg');
    background-size: cover;
    width: 100%;
    height: 750px;
}
.background-matte{
    background-color: rgba(0,0,0,0.7);
    height: 750px;
}
.heading{
    font-size: 40px;
    margin: 0px;
}
.description-section{
    margin-left: 30px;
    padding-top: 50px;
    width: 50%;
    color: rgb(244, 225, 225);
    text-align: justify;
    font-size: 24px;
}
.easy{
    display: block;
    margin-top: 10px;
    font-weight: 600;
    font-style: oblique;
}
.landing-button-container{
    margin: 40px;
}
.landing-button{
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    transition: 1s;
}
.landing-button:hover{
    width: 250px;
    cursor: pointer;
}
.testimonals-section{
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: rgb(76, 76, 76);
    color: white;
    font-size: 24px;
}
.testimonal{
    width: 100%;
}
.testimonal-para{
    margin: 0px;
    width: 700px;
    padding-top: 30px;
    margin-left: 30%;
}
.testimonal-name{
    width: 700px;
    margin-left: 30%;
}
.services{
    width: 100%;
    height: 900px;
    background-color: rgb(89, 89, 89);
}
.service{
    height: 300px;
    display: flex;
}
.service-image-container{
    width: 50%;
    margin-left: 150px;
    margin-top: 40px;
}
.service-image{
    width: 374px;
    height: 234px;
}
.service-description{
    width: 50%;
    margin-left: 100px;
    margin-top: 40px;
    color: rgb(255, 228, 228);
}
.service-heading{
    font-size: 36px;
}
.service-para{
    font-size: 24px;
}
.contact-us{
    display: flex;
    background-color: rgb(76, 76, 76);
    height: 400px;
}
.contact-us-description-container{
    width: 50%;
}
.contact-us-form-container{
    width: 50%;
}
.contact-us-description{
    margin-left: 150px;
    margin-top: 150px;
    color: rgb(255, 233, 233);
}
.contact-us-heading{
    font-size: 26px;
    margin-bottom: 50px;
}
.contact-us-form{
    margin-left: 100px;
    margin-top: 100px;
    color: rgb(255, 233, 233);
}
.name-email-container{
    display: flex;
}
.name, .email{
    width: 50%;
}
.labels{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
#name,#email{
    width: 90%;
    height: 30px;
    font-size: 18px;
    background-color: rgb(51, 51, 51);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
}
.message{
    margin-top: 10px;
}
#message{
    width: 90%;
    font-size: 18px;
    background-color: rgb(51, 51, 51);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
}
.about-us{
    background-color: rgb(89, 89, 89);
    width: 100%;
    height: 400px;
}
.about-us-description-container{
    text-align: center;
    color: rgb(241, 230, 230);
}
.about-us-description{
    width: 70%;
    margin-left: 250px;
    padding-top: 50px;
}
.about-us-heading{
    margin: 0px;
    margin-bottom: 10px;
}
.about-us-para{
    margin: 0px;
    font-size: 20px;
}